<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список студентов</title>
</head>
<body>
<a href="/educational_service/university">Список вузов</a>
<a href="create">Добавить студента</a>
<a href="update">Редактировать студента</a>
<h2>Список студентов</h2>
<table>
    <thead>
        <th> Id </th>
        <th> Фамилия </th>
        <th> Имя </th>
        <th> Отчество </th>
        <th> Вуз </th>
        <th> Год поступления </th>
    </thead>
    {% for student in students %}
    <tr>
        <td>{{ student.id }}</td>
        <td>{{ student.surname }}</td>
        <td>{{ student.name }}</td>
        <td>{{ student.father_name }}</td>
        <td>{{ student.university }}</td>
        <td>{{ student.entrance_year }}</td>
        <td><a href="delete/{{ student.id }}">Удалить</a>></td>
    </tr>
    {% endfor %}
</table>
</body>
</html>