<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавление студента</title>
</head>
<body>

<form method="POST" action="/student/create">
    <div>{{ form.name.label }}: {{ form.name() }}</div>
    <div>{{ form.surname.label }}: {{ form.surname() }}</div>
    <div>{{ form.father_name.label }}: {{ form.father_name() }}</div>
    <div>{{ form.entrance_year.label }}: {{ form.entrance_year() }}</div>
    <div>{{ form.university_id.label }}: {{ form.university_id() }}</div>
    <input type="submit" value="Добавить">
</form>
</body>
</html>